@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --text: #636370;
    --heading: #33333d;
    --hr: #dddde7;
    --layer1: #f6f6fa;
    --layer2: #fff;
    --layer3: #f6f6fa;
    --muted1: #efeff3;
    --muted2: #e1e1ea;
    --muted3: #dddde7;
    --primary: #2563eb;
    --primary-accent: #1e40af;
    --secondary: #626270;
    --secondary-accent: #51515f;
    --critical: #dc2626;
    --critical-accent: #991b1b;
}

.darkmode {
    --text: #abadc6;
    --heading: #fff;
    --hr: #323855;
    --layer1: #1a1d2d;
    --layer2: #1e2235;
    --layer3: #252a41;
    --muted1: #252a41;
    --muted2: #323855;
    --muted3: #424867;
    --primary: #2563eb;
    --primary-accent: #1e40af;
    --secondary: #424867;
    --secondary-accent: #303650;
    --critical: #dc2626;
    --critical-accent: #991b1b;
}

* {
    font-family: 'Poppins', sans-serif;
}

code {
    font-family: 'Courier New', monospace;
    background-color: var(--layer2);
    color: var(--heading);
}

code pre {
    padding: 15px;
    border-radius: 20px;
    line-height: 1.75em;
    font-family: 'Courier New', monospace;
    background-color: var(--layer2);
    color: var(--heading);
}

@media only screen and (max-width: 992px) {
    code pre {
        border-radius: 5px;
    }
}

body {
    background-color: var(--layer1);
}

::selection {
    background-color: var(--primary);
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.box {
    width: 754px;
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    .box {
        width: 95%;
    }
}

header,
main,
article,
footer {
    width: 100%;
    color: var(--heading);
}

header a {
    text-decoration: none;
    color: var(--heading);
}

header a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
}

header h2 {
    font-weight: 400;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 992px) {
    header h2 {
        letter-spacing: 0;
    }
}

header button {
    position: fixed;
    top: 25px;
    right: 50px;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: var(--heading);
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    header button {
        width: 30px;
        height: 30px;
        top: 25px;
        right: 25px;
        border-radius: 200px;
        padding: 3px;
        background-color: var(--layer2);
    }
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--hr);
    opacity: 0.7;
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

h5 {
    color: var(--text);
}

p {
    line-height: 1.75em;
    color: var(--text);
    text-wrap: pretty;
}

p.tarih-anasayfa {
    font-size: 0.83em;
    line-height: 1em;
    margin-bottom: 6px;
}

p.tarih {
    font-size: 0.83em;
    line-height: 1em;
    margin-bottom: 21px;
}

article a {
    color: var(--heading);
    text-decoration-line: underline;
    text-decoration-style: solid;
}

article a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

article.anasayfa a {
    text-decoration-line: none;
}

article.anasayfa a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
}

.anasayfa:first-of-type {
    margin-top: 35px;
    margin-bottom: 50px;
}

.anasayfa:last-of-type {
    margin-top: 35px;
    margin-bottom: 0px;
}

.anasayfa {
    margin-top: 50px;
    margin-bottom: 50px;
}

.anasayfa h5 {
    margin-bottom: 8px;
}

.anasayfa h2 {
    margin: 0;
}

.anasayfa p {
    margin-top: 10px;
    line-height: 1.5em;
}

@media only screen and (max-width: 992px) {
    .anasayfa p {
        margin-top: 8px;
        line-height: 1.25em;
    }
}

strong {
    font-weight: 600;
}

table {
    width: 100%;
    background-color: var(--layer2);
    border-spacing: 0;
}

@media only screen and (max-width: 992px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

thead th {
    padding: 14px 14px 14px 12px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text);
}

tbody td {
    padding: 12px;
}

tbody tr:nth-child(odd) {
    background-color: var(--muted1);
}

ol,
ul {
    color: var(--text);
}

li {
    line-height: 1.75em;
}

button.accordion-icerik-cisco-catalyst-9800-wireless-controller-konfigurasyon-modeli,
button.accordion-wlan-profile-cisco-catalyst-9800-wireless-controller-konfigurasyon-modeli,
button.accordion-policy-profile-cisco-catalyst-9800-wireless-controller-konfigurasyon-modeli,
button.accordion-ap-join-profile-cisco-catalyst-9800-wireless-controller-konfigurasyon-modeli,
button.accordion-flex-profile-cisco-catalyst-9800-wireless-controller-konfigurasyon-modeli,
button.accordion-rf-profile-cisco-catalyst-9800-wireless-controller-konfigurasyon-modeli,
button.accordion-icerik-cisco-access-point-modlari-flex-ve-sniffer-konfigurasyonu
{
display: block;
border: 0;
padding: 0;
background-color: transparent;
color: var(--heading);
cursor: pointer;
line-height: 0;
}

ul {
    list-style: circle;
}

ul.panel {
    display: none;
    overflow: hidden;
}

figure {
    margin: 0 0 10 0;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    figure {
        margin: 16px;
    }
}

@media only screen and (max-width: 992px) {
    figure img {
        width: 100%;
    }
}

article img {
    border-radius: 20px;
}

@media only screen and (max-width: 992px) {
    article img {
        border-radius: 5px;
    }
}

.icerik {
    background-color: var(--layer2);
    border-radius: 20px;
    padding: 15px;
}

@media only screen and (max-width: 992px) {
    .icerik {
        border-radius: 5px;
    }
}

@media only screen and (max-width: 992px) {
    code pre {
        overflow-x: auto;
    }
}

footer {
    margin-bottom: 50px;
    text-align: center;
}

footer hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer h2 {
    font-weight: 400;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 992px) {
    footer h2 {
        letter-spacing: 0;
    }
}

footer a {
    color: var(--heading);
    text-decoration: none;
}

footer a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
}